/*Created by Rafael Silva Barbon*/
.divDexter {
    float: left;
    width: auto;
    height: auto;
    background-image: url("https://besthqwallpapers.com/Uploads/5-4-2019/86267/thumb2-red-grunge-background-red-wall-grunge-red-texture-creative-backgrounds-old-wall.jpg");
}

.divLost {
    float: left;
    width: auto;
    height: auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoiRT1gEWlXi-wosdGjlhPNYW-LyvaCoEzbQ&usqp=CAU");
}

.subtitleDexter{
    align-items: center;
    float: right;
    width: 70%;
    height: 100%;
    background-image: url("https://images.alphacoders.com/481/481499.jpg");

    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 200%;;
    color: rgb(51, 5, 5);
}

.subtitleLost{
    align-items: center;
    float: right;
    width: 70%;
    height: 100%;
    background-image: url("https://wallpapermemory.com/uploads/626/lost-background-1080p-421594.jpg");
    
    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 200%;;
    color: rgb(236, 236, 236);
}

img{
    /*https://www.w3schools.com/css/css3_images.asp*/
    align-items: center;
    border-image: space;
    display: block;
    margin-left: 15%;
     margin-right: 15%;
    width: 100%;     
}

.tittle {

    float: right;
    width: 100%;
    height: 100%;

  


    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 400%;;
    color: #fff;

    font-weight: 900;
    font-size: 5.5em;
  }
  
.ml2 .letter {
    float: right;
    width: 90%;
    height: 100%;
    background-color: #9097FD;

    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 400%;;
    color: #fff;

    display: inline-block;
    line-height: 1em;
}

.button {
    background-color: #0000008e; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }

  .pagination {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: Chalkduster, fantasy;
  }
  
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration:none ;
    align-items: center;
    text-align: center;
  }
  
  .pagination a.active {
    background-color: #4c6baf;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Chalkduster, fantasy;

  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  